:root {
  --primary: #000000;
  --accent: #afcbc1;
  --secondary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 40px;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn {
    border-radius: 5px;
    padding: 12px 20px;   
    background-color: var(--primary);
    color: var(--accent);
}

.btn:disabled {
    cursor: auto;
    color: var(--secondary);
    background-color: var(--accent);
}

.btn:hover {
    color: var(--secondary);
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 8px;
  border-radius: 100%;
}

.close-btn svg path {
  transition: stroke .3s ease;
}

.close-btn:hover svg path {
  stroke: red;
}

@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
}

.header {
  padding: 40px 0;
}

.first_title {
  font-family: Courier, monospace;
  font-size: 20px;
  margin: 0;
  color: #808080;
}

.line {
  border-bottom: 1px solid rgba(84, 84, 84, 1);
  width: 50%;
}

.description {
  margin: auto;
  background-color: var(--accent);
  width: auto;
  text-align: center;
}

.description__avatar {
  padding-top: 30px;
  width: 300px;
}

.description__my-name {
  font-family: Courier, monospace;
  font-size: 28px;
}

.description__my-status {
  font-family: Courier, monospace;
  font-size: 20px;
  padding-bottom: 15px;
}

.main-part__cl-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-part__skills {
  font-size: 40px;
  font-family: Courier, monospace;
  text-align: center;
  margin: 30px 30px;
}

.main-part__skills-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.main-part__skill-name {
  margin-right: 27px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 30px;
}

.cl-education {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cl-education__education {
  font-size: 40px;
  font-family: Courier, monospace;
  text-align: center;
  margin: 30px 30px;
}

.cl-education__education-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.cl-education__education-name {
  margin-right: 27px;
  margin-bottom: 10px;
  padding: 30px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 30px;
}

.cl-education__faculty {
  padding-bottom: 30px;
}

.cl-education__university {
  font-size: 30px;
}

.photos {
  padding-bottom: 30px;
}

.photos__name {
  font-size: 40px;
  font-family: Courier, monospace;
  text-align: center;
  margin: 30px 30px;
}

.photos__list {
  margin: 0 auto;
  padding: 0;
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(auto-fill, 300px);
}

.photos__three {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.photos__cat {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  pointer-events: none;
}

.countdown {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

.countdown__name {
  font-size: 40px;
  font-family: Courier, monospace;
  text-align: center;
  margin: 30px 30px;
}

.countdown__time {
  display: inline-block;
  font-size: 30px;
  list-style-type: none;
  padding: 20px;
}

.popup__title {
  margin: 0 0 20px;
}

.form__button {
  margin-top: 15px;
  margin-left: 37px;
}

.footer {
  border-top: 1px solid rgba(84, 84, 84, 1);
  margin-top: 50px;
  font-size: 30px;
}

.footer__contacts {
  font-family: Courier, monospace;
  font-size: 20px;
  margin: 20px;
}

.footer__button-list {
  display: flex;
  gap: 15px;
}

.footer__button {
  margin-right: 5px;
  margin-left: 5px;
}

.footer__but-image {
  width: 60px;
  margin-left: 10px;
}

.footer__vk-image {
  margin-left: 20px;
}

.mail {
  font-family: Courier, monospace;
  font-size: 20px;
  margin: 20px;
}

.mail__link {
  text-decoration: none;
  color:#000000;
}

.popup {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.3);

  visibility: hidden;
  opacity: 0;

  transition: all 0.3s;
}

.popup-opened {
  visibility: visible;
  opacity: 1;
}


.popup__container {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
}

.js-err-wrap {
  color: red;
}


.js-form-popup-opener {
  margin: 10px 60px;
}
