header {
  margin: 40px;
}

.first_title {
  font-family: Courier, monospace;
  font-size: 20px;
  margin: 0;
  color: #808080;
}

.line {
  border-bottom: 1px solid rgba(84, 84, 84, 1);
  width: 50%;
}

.description {
  margin: auto;
  background-color: #AFCBC1;
  width: auto;
  text-align: center;
}

.description__avatar {
  padding-top: 30px;
  width: 300px;
}

.description__my-name {
  font-family: Courier, monospace;
  font-size: 28px;
}

.description__my-status {
  font-family: Courier, monospace;
  font-size: 20px;
  padding-bottom: 15px;
}

.main-part__cl-skills{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-part__skills {
  font-size: 40px;
  font-family: Courier, monospace;
  text-align: center;
}

.main-part__skills-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.main-part__skill-name {
  margin-right: 27px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 30px;
}

.cl-education{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cl-education__education {
  font-size: 40px;
  font-family: Courier, monospace;
  text-align: center;
}

.cl-education__education-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.cl-education__education-name {
  margin-right: 27px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 30px;
}

.cl-education__faculty {
  padding-left: 30px;
  padding-right: 30px;  
}

.cl-education__university {
  font-size: 30px;
}

.footer {
  border-top: 1px solid rgba(84, 84, 84, 1);
  margin-top: 50px;
  font-size: 30;
}

.footer__contacts {
  font-family: Courier, monospace;
  font-size: 20px;
  margin: 20px;
}

.footer__button-list {
  display: block;
}

.footer__button {
  margin-right: 5px;
  margin-left: 5px;
}

.footer__but-image {
  width: 60px;
  margin-left: 10px;
}

.footer__vk-image {
  margin-left: 20px;

}

.mail {
  font-family: Courier, monospace;
  font-size: 20px;
  margin: 20px;
}
