:root {
  --primary: #000000;
  --primary-hover: rgba(0, 0, 0, 0.6);
  --accent: #afcbc1;
  --secondary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 40px;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn {
  border-radius: 5px;
  padding: 12px 20px;
  background-color: var(--primary);
  color: var(--accent);
}

.btn:disabled {
  cursor: auto;
  color: var(--secondary);
  background-color: var(--accent);
}

.btn:hover {
  color: var(--secondary);
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 8px;
  border-radius: 100%;
}

.popup__temp-btn {
  position: absolute;
  top: -28px;
  right: -22px;
}

.close-btn svg path {
  transition: stroke 0.3s ease;
}

.close-btn:hover svg path {
  stroke: var(--primary-hover);
}

@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
}

body {
  background-color: var(--secondary);
}

.header {
  z-index: 2;
  padding: 40px 0;
  background-color: var(--secondary);
}

.header.fixed {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  animation: fromTop 0.3s forwards;
}

.first_title {
  font-family: Courier, monospace;
  font-size: 20px;
  margin: 0;
  color: #808080;
}

.line {
  border-bottom: 1px solid rgba(84, 84, 84, 1);
  width: 50%;
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: clip;
  gap: 20px;
  height: 100vh;
  padding: 20px;
  margin: auto;
  background-color: var(--accent);
  width: auto;
  text-align: center;
}

.description__overlay {
  position: absolute;
  height: auto;
  min-height: 100%;
  width: 100%;
  inset: 0;
  object-fit: cover;
  filter: grayscale(0.8) opacity(0.7);
}

.description__avatar {
  position: relative;
  z-index: 1;
  width: 300px;
  max-width: 100%;
  pointer-events: none;
}

.description__my-profile {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.description__my-name {
  font-family: Courier, monospace;
  font-size: 28px;
}

.description__my-status {
  font-family: Courier, monospace;
  font-size: 20px;
  padding-bottom: 15px;
}

.main-part__cl-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-part__skills {
  font-size: 40px;
  font-family: Courier, monospace;
  text-align: center;
  margin: 30px 30px;
}

.main-part__skills-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.main-part__skill-name {
  margin-right: 27px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 30px;
}

.cl-education {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cl-education__education {
  font-size: 40px;
  font-family: Courier, monospace;
  text-align: center;
  margin: 30px 30px;
}

.cl-education__education-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.cl-education__education-name {
  margin-right: 27px;
  margin-bottom: 10px;
  padding: 30px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 30px;
}

.cl-education__faculty {
  padding-bottom: 30px;
}

.cl-education__university {
  font-size: 30px;
}

.photos {
  padding-bottom: 30px;
}

.photos__name {
  font-size: 40px;
  font-family: Courier, monospace;
  text-align: center;
  margin: 30px 30px;
}

.photos__list {
  margin: 0 auto;
  padding: 0;
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(3, 1fr);
}

.photos__item {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.photos__img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  border-radius: 10px;
}

.photos__item:hover {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}

.countdown {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

.countdown__name {
  font-size: 40px;
  font-family: Courier, monospace;
  text-align: center;
  margin: 30px 30px;
}

.countdown__time {
  display: inline-block;
  font-size: 30px;
  list-style-type: none;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form__label {
  position: relative;
}

.form__error {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  color: red;
}

.form__input {
  padding: 8px 16px;
}

.form__button {
}

.footer {
  border-top: 1px solid rgba(84, 84, 84, 1);
  margin-top: 50px;
  font-size: 30px;
}

.footer__contacts {
  font-family: Courier, monospace;
  font-size: 20px;
  margin: 20px;
}

.footer__button-list {
  display: flex;
  gap: 15px;
}

.footer__button {
  margin-right: 5px;
  margin-left: 5px;
}

.footer__but-image {
  width: 60px;
  margin-left: 10px;
}

.footer__vk-image {
  margin-left: 20px;
}

.mail {
  font-family: Courier, monospace;
  font-size: 20px;
  margin: 20px;
}

.mail__link {
  text-decoration: none;
  color: #000000;
}

.popup {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);

  visibility: hidden;
  opacity: 0;

  transition: all 0.3s;
}

.popup__gallery-container {
  position: relative;
  padding: 50px;
  margin: 10px;
}

.gallery {
  position: relative;
  height: calc(97svh - 120px);
  width: max-content;
  max-width: calc(97vw - 120px);
}

.gallery__nav {
  position: absolute;
  left: -70px;
  right: -70px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translate(0, -50%);
}

.gallery__nav-btn {
  padding: 20px;
  font-weight: 700;
  border-radius: 100%;
  background-color: white;
  animation: fade .3s forwards;
}

.gallery__list {
  display: flex;
  justify-content: center;
}

.gallery__list,
.gallery__list li {
  height: 100%;
}

.gallery__list li {
  animation: fade .3s forwards;
}

.gallery__list li img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.popup__close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.popup__title {
  margin: 0 0 20px;
}

.popup-opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
}

.js-form-popup-opener {
  margin: 10px 60px;
}

@keyframes fromTop {
  from {
    transform: translateY(-100%);
    box-shadow: none;
  }
  to {
    transform: translateY(0);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.d-none {
  display: none;
}

.hidden {
  pointer-events: none;
  user-select: none;
  opacity: 0;
  visibility: hidden;
}
